{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row">

	<h3>{{memory.title}}</h3>

	{{{cloudinaryUrl this.image.url width=80}}}
		
	</div>

</div> <!-- .container-fluid -->