<footer id="footer" class="">

	<div class="footer">
		<div class="container-fluid">

			<div class="footer-inner">
				<div class="row">
					<div class="main">

						<h3 id="generate">Explore Memories</h3>
						
					</div>

					
					<div class="sub">

						<p id="add-memory">Add Memory</p>
						
					</div>
					<div class="sub">

						<p id="edit-memory">Edit Memory</p>
						
					</div>

					<div class="soon">
						<p>Coming Soon</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</footer>
<!-- footer end -->