<ul class="sidebar-nav">
	<a id="menu-close" href="#" class="btn btn-lg"><i class="menu-icon light"><div></div><div></div><div></div></i></a>
	<li>
		<a href="/">generate memory</a>
		<a href="/about">add a new memory</a>
		{{!-- <a href="/portfolio">Edit</a> --}}
	</li>
</ul>