// SAMPLE PALETTE
$color-peach: #ff9971;
$color-dark-orange: #ff5e41;
$color-gray-orange: #674B47;
$color-light-orange: #ffb71d;
$color-light-blue: #2bd3ee;
$color-light-orange: #ffb71d;
$color-light-green: #13e695;
$color-neon-green: #C8E646;
$color-light-red: #ab3724;
$color-dark-purple: #6768FE;
$color-bright-yellow: #FFD255;
$color-orange: #FD6D59;
$color-red: #fe6444;
// $color-blue: #4343ff;
$color-salmon: #ff7f7d;
$color-violet: #7c90ff;
$color-teal: #36d5d9;
$color-yellow: #fbd738;
$color-green: #00CB86;

//
$color-blue: #7FB1C6;
$color-teal-light: #96CECE;
$color-purple-light: #B3ABD6;

// $black: #232323;
$black: #383838;
// $black: #6d6d6d;
// $black: #4c4c4c;

$colors-theme: $color-blue, $color-teal-light, $color-purple-light;

// font-family: 'Reenie Beanie', cursive;
// font-family: 'Niconne', cursive;
// font-family: 'Parisienne', cursive;
// font-family: 'Rouge Script', cursive;
// font-family: 'Just Me Again Down Here', cursive;
