@import "core/variables";
@import "core/mixins";
@import "core/functions";
@import "core/fonts";


@include font-face(Font-Name, 'https://path/to/cdn/font', null, null, eot woff ttf);

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

// Body
.body {
  background-color: #000;
  height:100%;
  color: #fff;
  font-family: "HalisLight";
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.home {
	height: 100%;
}

.memory {
	width: 100%;
	height: calc(100% - 40px);
	padding: 20px;
	text-align: center;
	.image {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 80%;

	}
}